.breadcrumbs {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 18px;
        margin-bottom: 24px;
        font-size: 14px;
        color: #222;
    }
}

.item {
    display: flex;
    align-items: center;
    gap: 18px;
    max-width: 78%;
}

.link {
    color: #060606;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    transition: opacity 0.2s;

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.7;
        }
    }
}

.current {
    color: #060606;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    opacity: .5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.separator {
    display: flex;
    align-items: center;
    color: #000;
}