.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    font-size: 14px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.link {
    color: var(--color-text-primary);
    text-decoration: none;
    transition: opacity 0.2s;

    @media (any-hover: hover) {
        &:hover {
            opacity: 0.7;
        }
    }
}

.current {
    color: #999;
}

.separator {
    color: #999;
}