.section {
    padding: 24px 0 24px 20px;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;

    @media (min-width: 1024px) {
        padding: 60px 20px;
    }
}

.sliderWrapper {
    position: relative;
    width: 100%;
    margin-top: 14px;
}

.swiperContainer {
    width: 100%;
    padding-bottom: 24px;
    padding-top: 10px;
    padding-right: 20px;
}

.slide {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    width: 100%;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    @media (min-width: 768px) {
        width: 120px;
        height: 120px;
    }

    @media (min-width: 1024px) {
        width: 140px;
        height: 140px;
    }

    @media (min-width: 1280px) {
        width: 178px;
        height: 178px;
    }

    .item:hover & {
        transform: scale(1.05);
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    }
}

.circleImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.label {
    font-size: 12px;
    font-weight: 700;
    color: var(--color-text-primary);
    text-align: center;
    line-height: 1.2;
    max-width: 140px;

    @media (min-width: 768px) {
        font-size: 16px;
    }

    @media (min-width: 1280px) {
        font-size: 18px;
    }
}

/* Nav Arrows */
.sliderNav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    position: absolute;
    top: -48px;
    right: 20px;
    
    @media (min-width: 768px) {
        top: -65px;
    }
}

.navArrow {
    //position: absolute;
    //top: calc(50% - 32px);
    //transform: translateY(-50%);
    //background: transparent;
    //border: none;
    //cursor: pointer;
    //z-index: 10;
    //width: 56px;
    //height: 56px;
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //padding: 0;
    //transition: transform 0.2s;
    //border-radius: 50%;
    //box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);



    //&:hover:not(.swiper-button-disabled) {
    //    transform: translateY(-50%) scale(1.05);
    //}
    //
    //@media (min-width: 1024px) {
    //    top: calc(50% - 32px);
    //}
}

.navLeft {
    //left: -30px;

    //@media (min-width: 1024px) {
    //    left: -15px;
    //}
}

.navRight {
    //right: -30px;

    //@media (min-width: 1024px) {
    //    right: -15px;
    //}
}