/* ===== Header Layout ===== */
.header {
    position: sticky;
    top: 0;
    z-index: 50;
    background: #000000;
    padding-bottom: 16px;

    @media (min-width: 1280px) {
        padding-bottom: 0;
        background: transparent;
    }
}

.mobileOnly {
    display: block;

    @media (min-width: 1280px) {
        display: none;
    }
}

.desktopOnly {
    display: none;

    @media (min-width: 1280px) {
        display: block;
    }
}