.googleBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    background: #ffffff;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%;
    text-transform: uppercase;
    gap: 10px;
    margin-top: 20px;
    transition: background 0.2s, border-color 0.2s;
    cursor: pointer;

    @media (any-hover: hover) {
        &:hover {
            background: #f5f5f5;
            border-color: #ccc;
        }
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.googleIcon {
    width: 16px;
    height: 16px;
}

.googleBtnText {
    padding-top: 6px;
}