
.filterWrapper {
    display: flex;
    gap: 12px;
    width: 100%;

    @media (min-width: 768px) {
        width: auto;
        gap: 10px;
    }
}

button.filterBtn {
    font-size: 10px;
    flex: 1;
    border-radius: 8px;
    height: 36px;
    padding: 0 4px;
    text-transform: none !important;

    @media (min-width: 768px) {
        padding: 0 24px;
    }

    @media (min-width: 1024px) {
        height: 44px;
    }

    @media (min-width: 1280px) {
        width: 192px !important;
        min-width: 192px !important;
        font-size: 12px;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        
        svg {
            display: block;
            max-width: 20px;
            max-height: 20px;

            path,
            line {
                stroke: none !important;
            }
        }
    }

    span {
        padding-top: 2px;
    }
}


