.tabsWrapper {
    display: flex;
    gap: 12px;
    align-items: center;
}

.tab {
    padding: 10px 24px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    background: #fff;
    color: #222;
    white-space: nowrap;

    @media (any-hover: hover) {
        &:hover {
            background: #f5f5f5;
        }
    }
}

.pills {
    .active {
        background: #222;
        color: #fff;
    }
}