.container {
    margin: 0 auto;
    padding: 0 16px;

    @media (min-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (min-width: 1280px) {
        padding-left: calc((100% - 1200px) / 2);
        padding-right: calc((100% - 1200px) / 2);
    }

    @media (min-width: 1360px) {
        padding-left: calc((100% - 1280px) / 2);
        padding-right: calc((100% - 1280px) / 2);
    }

    @media (min-width: 1440px) {
        padding-left: calc((100% - 1300px) / 2);
        padding-right: calc((100% - 1300px) / 2);
    }
}

.hero {
    margin-bottom: 32px;

    @media (min-width: 1024px) {
        margin-bottom: 56px;
    }
}

.breadcrumbs {
    margin-top: 16px;
    margin-bottom: 16px;

    @media (min-width: 1024px) {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

.categories {
    margin-bottom: 40px;

    @media (min-width: 1024px) {
        margin-bottom: 64px;
    }
}

.page {
    background-color: #F6F6F6;
    padding-bottom: 80px;
}

.whiteSection {
    background-color: #FFF;
    padding: 32px 0;
}

.sectionSpacing {
    margin-bottom: 48px;

    @media (min-width: 1024px) {
        margin-bottom: 80px;
    }
}

.menuSections {
    padding-top: 30px;

    @media (min-width: 1280px) {
        margin-bottom: 58px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding-top: 24px;

    @media (min-width: 1024px) {
        grid-template-columns: 1fr;
        gap: 24px;
        padding-top: 40px;
    }
}
