.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;

    @media (min-width: 1024px) {
        padding: 0 40px;
    }
}

.hero {
    margin-bottom: 32px;

    @media (min-width: 1024px) {
        margin-bottom: 56px;
    }
}

.breadcrumbs {
    margin-top: 16px;
    margin-bottom: 16px;

    @media (min-width: 1024px) {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

.categories {
    margin-bottom: 40px;

    @media (min-width: 1024px) {
        margin-bottom: 64px;
    }
}

.page {
    background-color: #F6F6F6;
    padding-bottom: 80px;
}

.whiteSection {
    background-color: #FFF;
    padding: 32px 0;
    margin-bottom: 32px;

    @media (min-width: 1024px) {
        padding: 56px 0;
        margin-bottom: 56px;
    }
}

.sectionSpacing {
    margin-bottom: 48px;

    @media (min-width: 1024px) {
        margin-bottom: 80px;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media (min-width: 1024px) {
        grid-template-columns: 1fr;
        gap: 24px;
    }
}
