.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px 4px;
    height: 20px;
    border-radius: 6px;
    color: #FFF;
    font-family: var(--font-houschka), var(--font-sans), sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    text-transform: uppercase;

    @media (min-width: 768px) {
        font-size: 10px;
        height: 26px;
    }

    @media (min-width: 1280px) {
        font-size: 12px;
        height: 30px;
    }
}

.new {
    background-color: #0582FF;
}

.sale {
    background-color: #E3051B;
}