.badge {
    display: inline-block;
    padding: 6px 12px 4px;
    height: 20px;
    border-radius: 6px;
    color: #FFF;
    font-family: var(--font-houschka), var(--font-sans), sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    text-transform: uppercase;
}

.new {
    background-color: #0582FF;
}

.sale {
    background-color: #E3051B;
}