.badge {
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}

.new {
    background-color: #27AE60;
}

.sale {
    background-color: #E30613;
}

.hot {
    background-color: #F2994A;
}