.mainBar {
    background: #000000;
    padding: 0;
}

.mainBarInner {
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 32px;

    @media (min-width: 1280px) {
        max-width: 1200px;
    }

    @media (min-width: 1360px) {
        max-width: 1280px;
    }
}

.logoWrapper {
    flex-shrink: 0;
}

.catalogBtn {
    display: flex;
    align-items: center;
    gap: 12px;
    background: transparent;
    border: 1px solid #3E3E3E;
    color: #ffffff;
    padding: 0 24px;
    height: 48px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 700;

    @media (any-hover: hover) {
        &:hover {
            border-color: #666;
            background: #1a1a1a;
        }
    }

    .catalogBtnInner {
        padding-top: 4px;
    }
}

.burgerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    width: 16px;
    height: 16px;

    span {
        background: #ffffff;
        border-radius: 1px;
    }
}

.searchWrapper {
    min-width: 370px;
}

.rightSection {
    display: flex;
    align-items: center;
    gap: 32px;
}

.centerBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 32px;
    margin: 0 40px;
}

.actionsWrapper {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
    display: flex;
    gap: 12px;
}