.title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;

    @media (min-width: 768px) {
        font-size: 22px;
    }

    @media (min-width: 1024px) {
        font-size: 28px;
    }
}

.dots {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-top: 6px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-accent);
}