.pageWrapper {
    background-color: #F6F6F6;
    min-height: 100vh;
}

.personalPage {
    padding: 20px 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (min-width: 1280px) {
        padding-left: calc((100% - 1200px)  / 2);
        padding-right: calc((100% - 1200px) / 2);
    }

    @media (min-width: 1360px) {
        padding-left: calc((100% - 1280px) / 2);
        padding-right: calc((100% - 1280px) / 2);
    }

    @media (min-width: 1440px) {
        padding-left: calc((100% - 1300px) / 2);
        padding-right: calc((100% - 1300px) / 2);
    }
}

.layoutBody {
    display: flex;
    flex-direction: column;
    gap: 26px;

    @media (min-width: 1024px) {
        flex-direction: row;
        align-items: flex-start;
        gap: 14px;
    }
}

.sidebar {
    width: 100%;

    @media (min-width: 1024px) {
        width: 320px;
        flex-shrink: 0;
    }
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-grow: 1;
    min-width: 0; // Prevent flex overflow
}

.breadcrumbsWrapper {
    margin-bottom: 0px;
}
