.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-shrink: 0;
}

.logoImg {
    display: block;
    width: 114px;
    height: auto;

    @media (min-width: 1280px) {
        width: 168px;
    }
}