.ordersPage {
    display: flex;
    flex-direction: column;
}

.ordersBlock {
    padding: 16px;
    
    @media (min-width: 1280px) {
        padding: 32px;
    }
}

.controlsRow {
    display: flex;
    justify-content: flex-start;
}

.sortSelect {
    background-color: #F7F7F7 !important;
    border-radius: 12px !important;
    height: 44px !important;
    padding: 0 16px !important;
    width: max-content;

    > span {
        display: inline-block !important;
        font-size: 14px !important;
        color: #666 !important;
    }

    > div {
        > button {
            background-color: transparent !important;
            padding: 0 24px 0 6px !important;
            font-size: 14px !important;
            height: auto !important;
            
            span {
                font-size: 14px !important;
            }
        }
    }
}

.ordersList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 1280px) {
        gap: 10px;
    }
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.emptyState {
    text-align: center;
    font-size: 16px;
    color: #666;
    padding: 60px 0;
}
