.wrapper {
    background-color: #F6F6F6;
    position: relative;
    overflow: hidden;
    padding: 32px 0;

    @media (min-width: 1024px) {
        padding: 64px 0;
    }
}

.bgLogo {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: 120%;
    z-index: 0;
    pointer-events: none;
    opacity: 0.5;

    @media (min-width: 768px) {
        height: 70%;
    }
}

.section {
    padding: 0;
    position: relative;
    z-index: 1;

    @media (min-width: 1024px) {
        padding: 24px 0;
        max-width: 1280px;
        margin: 0 auto;
    }
}

.tabsWrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    padding: 0 0 0 20px;

    @media (min-width: 768px) {
        padding: 0 20px;
    }

    @media (min-width: 1024px) {
        margin-bottom: 40px;
    }

    &::after {
        display: none;
        content: '';
        position: absolute;
        top: 0;
        right: 20px;
        width: 100px;
        height: 100%;
        z-index: 1;
        background: linear-gradient(90deg, rgba(246, 246, 246, 0.00) -4.94%, #F6F6F6 55.29%);
        pointer-events: none;

        @media (min-width: 768px) {
            display: block;
        }
    }
}

.tabs {
    flex: 1;
    min-width: 0;

    @media (min-width: 1024px) {
        flex: 0 1 auto;
    }
}

.tabSlide {
    width: auto !important;
}

.tabButton {
    background-color: #fff;
    padding-top: 10px;
    height: 32px;
    border: 0;
    color: #262626;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: initial;

    @media (min-width: 768px) {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: 1280px) {
        font-size: 16px;
        height: 46px;
        border-radius: 58px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.tabArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #FFF;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    box-shadow: 0 10px 10px 0 rgba(54, 54, 54, 0.20);
    position: absolute;
    top: 0;

    @media (min-width: 1280px) {
        width: 46px;
        height: 46px;
    }

    &:disabled {
        display: none;
    }

    &.left {
        display: none;
    }

    &.right {
        right: 20px;
    }
}

.tabArrowRight {
    margin-left: 12px;
}

.tabArrowLeft {
    margin-right: 12px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0 20px;

    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
    }
}

.showMore {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    button {
        background-color: transparent;
        color: #000;
        border: 1px solid #000;
        border-radius: 8px;
        padding: 12px 24px;
        font-weight: 600;
        font-size: 14px;
    }

    @media (min-width: 1024px) {
        margin-top: 40px;
    }
}