.card {
    background: #FFFFFF;
    padding: 12px 26px 16px;
    position: relative;
    border-radius: 14px;
    border: 1px solid #C8C8C8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 1024px) {
        padding: 32px;
    }
}

.promo {
    background: linear-gradient(0deg, rgba(230, 0, 15, 0.6), rgba(230, 0, 15, 0.6)),
                url('/images/delivery/delivery_card.png') lightgray 50% / cover no-repeat;
    color: #FFFFFF;
    border: none;
    min-height: 200px;
}

.promoInner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding-right: 50px;

    svg {
        width: 58px;
        height: 75px;
        opacity: 0.4;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.promoText {
    h3 {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: 125%;
        text-transform: uppercase;
    }

    p {
        color: #FFF;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        margin-top: 8px;
    }
}

.logoCircleWhite {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    svg {
        width: 18px;
        height: auto;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.titleGroup {
    display: flex;
    flex-direction: column;

    .name {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: 185.714%;
        text-transform: uppercase;
    }

    .region {
        color: #828282;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;
    }
}

.logoCircleBlack {
    width: 46px;
    height: 46px;
    background: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 18px;
        height: auto;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 8px;
}

.row {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.icon {
    width: 16px;
    height: 16px;
    margin-top: -2px;
}


.textCol {
    p {
        color: #000;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -0.24px;
    }

    .subText {
        color: var(--Black, #060606);
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
}
