.sliderSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-text-primary);
    margin: 0;
}

.navigation {
    display: flex;
    gap: 8px;
}

.swiper {
    width: 100%;
    overflow: visible !important;
}

.slide {
    display: flex;
    box-sizing: border-box;
    height: auto !important;
    transition: opacity 0.1s ease-in-out;

    &:not(:global(.swiper-slide-visible)) {
        opacity: 0;
        pointer-events: none;
    }
}
